<nav *ngIf="authService.isLoggedIn()">
    <div style="background-color: #007bff;" class="nav-wrapper lighten-2">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li *ngIf="this.router.url !== '/login'"><a routerLinkActive="active" routerLink="/home">Home</a></li>
            <li *ngIf="this.router.url !== '/login'"><a routerLinkActive="active" routerLink="/timeline">Timeline</a></li>
            <li *ngIf="this.router.url !== '/login'"><a routerLinkActive="active" routerLink="/users">Users</a></li>
            <li *ngIf="this.router.url !== '/login'"><a routerLinkActive="active" routerLink="/profile">Profile</a>
            </li>
            <li><a (click)="logout()">Logout</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
